.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(74, 73, 67, 0.253);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 2;
  z-index: 1;

  &__popup {
    margin: 70px auto;
    margin-top: 400px;
    padding: 45px;
    height: 400px;
    background: rgb(223, 222, 229);
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;

    h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
    }
    &__close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
  
      &:hover {
        color: #8042d3;
      }
    }
  
    &__content {
      max-height: 30%;
      overflow: auto;
    }
  }
}
