.home {
    padding: 24px;

    width: 800px;
    max-width: 800px;
    margin: 0 auto;

    &__top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
    }

    &__players {
        display: grid;
        column-gap: 24px;
        row-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}