

.input {
  border: 1px solid var(--black-color);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 14px 12px;
  width: 100%;

  &:focus-visible {
    outline: 0px;
    border: 1px solid var(--main-color);
  }

  &__error {
    font-size: x-small;
    color: red;
    padding-top: 8px;
  }
}
