.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 50%;
  left: 50%;
  background: #aaaaaa7a;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  &__input-error{
    color: red;
    font-size: 10px;
    margin-bottom: 5px;
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__close-icon{
    width: 25px;
    cursor: pointer;
  }

  &__button {
    cursor: pointer;
    width: 180px;
    height: 45px;
    background: #505050;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
  }

  &__img {
    height: 350px;
    border-radius: 10px;
  }

  &__select {
    height: 40px;
    border: 1px solid #b2b2b2;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    flex: 1;
    width: 180px;
  }

  &__input {
    height: 35px;
    border: 1px solid #b2b2b2;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    flex: 1;
    &__container {
      width: 100%;
    }
  }

  &__container {
    width: 700px;
    background: white;
    padding: 15px;
  }

  &__title {
    color: #323232;
    font-size: 25px;
    margin-bottom: 15px;
  }

  &__body {
    display: flex;

    &__inputs {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      flex: 1;

      &__row {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
