.playercard-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;

  &__text {
    background-color: gray;
    color: white;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
  }

  &__image-container {
    position: relative;
    text-align: center;

    &-text {
      position: absolute;
      z-index: 10;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      font-weight: bold;
      color: rgb(35, 34, 34);
    }
  }
  &__image-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(206, 205, 205, 0), rgba(244, 244, 244, 0.89));
  }

  &__image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
  }

  &__section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;

    &--number {
      font-size: 26px;
    }
  }
}
