.modalContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.135);
    top: 0;
    .modal{
        width: 80%;
        height: fit-content;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        margin-top: 10%;

    }
}