.card {
  width: 30%;
  height: 350px;
  border-radius: 30px;
  background-color: var(--main-color);

  &__container {
    &__button {
      display: flex;
      justify-content: center;
    }
  }

}