.app {
  max-width: 1024px;
  margin: auto;
  position: relative;

  &__title {
    color: var(--black-color);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &__form-player {
    z-index: 40px;
  }
}
