.header{
    display: flex;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.092);
    justify-content: space-between;
    align-items: center;

    &__h1{
        font-weight: bold;
        padding-left: 10px;
        font-size: 20px;
        margin-top: 10px;
    }
}